{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block main %}

    <main>
        <h1>Welcome to Django Accounts</h1>
        <p>Hi, this django app has been built completely using the built-in django(1.8) authentication views and templates. The following functionality has been included in this app.
        <h2>Functionalities</h2>
        <ul>
            <li>Login</li>
            <li>Password change</li>
            <li>Logout</li>
            <li>Password reset</li>
            <li>User profile</li>
        </ul>
        </p>

    </main>



{% endblock %}