{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block main %}

    <main>
        <div class="heading-one">
            <h1>Welcome to Data Deposit Portal</h1>
        </div>
        <p>Hi, this is a prototype of the Data Deposit portal under constant development. The following functionality has been included in this app.
        <h2>Functionalities</h2>
        <ul>
            <li>User registration</li>
            <li>Login</li>
            <li>Password change</li>
            <li>Logout</li>
            <li>Password reset</li>
            <li>User profile</li>
            <li>Projects(app)</li>
            <li>Projects admin</li>
            <li>Metadata(app)</li>
            <li>Metadata entry</li>

        </ul>
        </p>

    </main>



{% endblock %}