{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block main %}

    <main>
        <div class="heading-one">
            <h1>Login</h1>
        </div>

        {# Login form #}
        <div class="form">
            <form method="post" action="{% url 'auth_login' %}">
                {% csrf_token %}
                <fieldset class="account-info">
                    <label>
                        Username
                        <input type="text" name="username">
                    </label>
                    <label>
                        Password
                        <input type="password" name="password">
                    </label>
                    <label>
                        <a href={% url 'password_reset' %}> Forgot your password?</a>
                    </label>
                    <label>
                        <a href={% url 'user_registration' %}> Register</a>
                    </label>
                </fieldset>
                <fieldset class="account-action">
                    <input class="btn" type="submit" name="submit" value="Login">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <label>
                        <input type="checkbox" name="remember"> Stay signed in
                    </label>
                </fieldset>
            </form>
        </div>

        {# Display form (field and non field) error messages #}
        {#  ref: https://djangosnippets.org/snippets/2769/ #}
        <div class="form-errors">
            {% if form.errors %}
                {# field errors #}
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags}}</li>
                    {% endif %}
                {% endfor %}
                {# non field errors #}
                {{form.non_field_errors}}  {# The error message comes from AuthenticationForm(django.contrib.auth.forms) #}
            {% endif %}
        </div>

    </main>
{% endblock %}
