{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

{# Display error messages in color #}
<style>
li {color:red;}
</style>

<h1>Login</h1>

{# Login form #}
<form method="post" action="{% url 'auth_login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href={% url 'password_reset' %}> Forgot your password?</a></p>

{# Display form (field and non field) error messages #}
{#  ref: https://djangosnippets.org/snippets/2769/ #}
{% if form.errors %}
    {# field errors #}
    {% for field in form %}
        {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags}}</li>
        {% endif %}
    {% endfor %}
    {# non field errors #}
    {{form.non_field_errors}}  {# The error message comes from AuthenticationForm(django.contrib.auth.forms) #}
{% endif %}

{% endblock %}
