{% extends "base.html" %}

{% block content %}

    <style>
        div {color:red;}
    </style>

    <p> Enter your email below, to reset your password </p>

    <form method="post" action="{% url 'password_reset' %}" > {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
            </tr>
        </table>
        <input type="submit" value="Reset password" />
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </form>

    {% if form.errors %}

        {% for field in form %}
            {% if field.errors %}
                <div>{{ field.label }}: {{ field.errors|striptags}}</div>
            {% endif %}
        {% endfor %}

    {% endif %}

{% endblock %}