{% extends "accounts/profile.html" %}

{% block title %} pwd_change_done {% endblock %}

{% block changable %}
    <li class="menu-item"> <a href="{% url 'accounts:profile' %}"> Profile </a> </li>
    <li class="menu-item"> <a href="{% url 'accounts:logout' %}"> Logout </a> </li>
{% endblock %}

{% block main %}
    <main>

        <h1>Your Password has been successfully changed</h1>

        <a href="{% url 'accounts:auth_login' %}"> Login with your new password </a>

    </main>

{% endblock %}