{% extends "base.html" %}

{% block content %}

{# Display error messages in color #}
<style>
li {color:red;}
</style>

Hi {{ user}}, you can change your password below

<h1>Password Change</h1>

<form method="post" action="{% url 'password_change' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>

</table>

<input type="submit" value="Submit" />
</form>

{# Display form error messages #}
{#The error messages come from PasswordChangeForm and SetPasswrodForm (django.contrib.auth.forms)#}

{% if form.errors %}
    {# field errors #}
    {% for field in form %}
        {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags}}</li>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}