{% extends "base.html" %}

{% block title %} pwd_reset {% endblock %}

{% block main %}
    <main>
        <div class="heading-one">
            <h1>Password reset</h1>
            <p> Enter your email below, to reset your password </p>
        </div>


        {# Password reset form #}
        <div class="form">
            <form method="post" action="{% url 'accounts:password_reset' %}"> {% csrf_token %}
                <fieldset class="email-info">
                    <label>
                        Email
                        <input type="email" name="email">
                    </label>
                </fieldset>
                <fieldset class="email-action">
                    <input class="btn" type="submit" value="Reset password" name="submit"/>
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </fieldset>
            </form>
        </div>

        <div class="form-errors">
            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags}}</li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </main>

{% endblock %}