{% extends "accounts/check.html" %}

{% block title %} Profile {% endblock %}

{% block changable %}
    <li class="menu-item"> <a href="profile"> Profile </a> </li>
    <li class="menu-item"> <a href="password_change"> Change Password </a> </li>
    <li class="menu-item"> <a href="logout"> Logout </a> </li>
{% endblock %}


{% block main %}

    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Save changes</button>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
