{% extends "base.html" %}

{% block title %} Registration {% endblock %}

{% block main %}
    <main>
        <div class="heading-one">
            <h1>User Registration</h1>
        </div>

        {# User Registration form #}
        <div class="form">
            <form method="post" action="{% url 'user_registration' %}">
                {% csrf_token %}
                <fieldset class="account-info">
                    <label>
                        Username
                        <input type="text" name="username">
                    </label>
                    <label>
                        Password
                        <input type="password" name="password">
                    </label>
                    <label>
                        Email
                        <input type="email" name="email">
                    </label>
                </fieldset>
                <fieldset class="account-action">
                    <input class="btn" type="submit" name="submit" value="Register">
                </fieldset>
            </form>
        </div>

        {# Display form (field and non field) error messages #}
        {#  ref: https://djangosnippets.org/snippets/2769/ #}
        <div class="form-errors">
            {% if registration_form.errors %}
                {# field errors #}
                {% for field in registration_form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags}}</li>
                    {% endif %}
                {% endfor %}
                {# non field errors #}
                {{registration_form.non_field_errors}}  {# The error message comes from AuthenticationForm(django.contrib.auth.forms) #}
            {% endif %}
        </div>

    </main>


{% endblock %}