{% extends "projects/display_project_info.html" %}

{% block Metadata %}

    <p> Deposit Session Details (Not Editable) </p>

    <form> {% csrf_token %}

    {{ session_form.as_p }}

    {{ object_form.as_p }}

     </form>

    <p> Deposit Metadata </p>

    <form method="post" action=""> {% csrf_token %}

        {{ deposit_formset.management_form }}

        {% for form in deposit_formset %}
            {{ form.id}}
            {{ form.md_attributes}}: {{ form.val }} <br><br>
        {% endfor %}

    </form>

    <p>Object Metadata </p>

    <form method="post" action=""> {% csrf_token %}

        {{ data_object_formset.management_form}}

        {% for form in data_object_formset %}
            {{ form.id}}
            {{ form.md_attributes}}: {{ form.val }} <br><br>
        {% endfor %}

        <input class="btn" type="submit" name="submit" value="Save"><br><br>
        <input class="btn" formaction="{% url 'metadata:object_dashboard' project_name deposit_name%}"
               type="submit" name="submit" value="Cancel">

    </form>



{% endblock %}