{% extends "projects/display_project_info.html" %}

{% block Metadata %}

    <p>You are editing the {{ object_name }}in the deposit session "{{ deposit_name }}" of the project {{ project_name }}</p>

    <form method="post" action=""> {% csrf_token %}

        {{ object_formset.management_form}}

        {% for form in object_formset %}
            {{ form.id}}
            {{ form.md_attributes}}: {{ form.val }} <br><br>
        {% endfor %}

        <input class="btn" type="submit" name="submit" value="Save"><br>

    </form>

{% endblock %}