{% extends "projects/display_project_info.html" %}

{% block Metadata %}

{#    <p>You are in the deposit session "{{ deposit_name }}" of the project {{ project_name }}</p>#}

    <p> Deposit Session Details (Not Editable) </p>

    <form> {% csrf_token %}

    {{ session_form.as_p }}

     </form>

    <p> Deposit Metadata : Once, all the metadata fields have been successfully validated you will be redirected to
     the Data Object Page, Where you can Upload the object</p>

    <form method="post" action=""> {% csrf_token %}

        {{ deposit_formset.management_form }}

        {% for form in deposit_formset %}
            {{ form.id}}
            {{ form.md_attributes}}: {{ form.val }} <br><br>
        {% endfor %}

        <input class="btn" type="submit" name="submit" value="Save"><br><br>
        <input class="btn" formaction="{% url 'metadata:member_metadata_view' project_name%}"
               type="submit" name="submit" value="Cancel">

    </form>

{#    <li class="main-menu-item"> <a href="{% url 'metadata:object_dashboard' project_name deposit_name %}">#}
{#        Upload Data Object for the session "{{ deposit_name }}" </a> </li>#}

{% endblock %}