header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header ul.menu {
    margin: 0;
}

header ul.menu li.logo a{
    text-transform: uppercase;
    font-size: 1.5rem;
}

header ul.menu li {
    list-style: none;
    display: inline;

}

main li.main-menu-item{
    list-style: none;
    display: inline;
}

.main-menu-item a {
    text-decoration: none;
    color: #395870;
    font-weight: 600;
    padding: 15px 8px;
    display: inline-block;
    font-size: 1.0rem;
}

.project-menu-item a {
    text-decoration: none;
    color: #395870;
    font-weight: 600;
    font-size: 1.0rem;
}

.user-registration a {
    text-decoration: none;
    color: #395870;
    font-weight: 600;
    font-size: 1.0rem;
}

header ul.menu li a {
    text-decoration: none;
    font-weight: 600;
    padding: 15px 8px;
    display: inline-block;
    font-size: 1.0rem;
}

header a {
    color: #fff;
}

.heading-one{
    text-align: center;
}

body {
    background-color: #f9f9f9;
    padding-top: 100px;
}

body {
    font-size: 1.2em;
    line-height: 1.6;
    font-weight: 400;
    font-family: sans-serif;
    color: #222;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

div.form
{
    display: block;
    text-align: center;
}

form {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.account-info {
    padding: 20px 20px 0 20px;
}

.account-info label {
    color: #395870;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.account-info a {
    text-decoration: none;
    color: #395870;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.account-info input {
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
}

.account-action {
    background: #f0f0f2;
    border-top: 1px solid #c6c7cc;
    padding: 20px;
}
.account-action .btn {
    background: linear-gradient(#49708f, #293f50);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
}
.account-action label {
    color: #7c7c80;
    font-size: 12px;
    float: left;
    margin: 10px 0 0 20px;
}

.email-info {
    padding: 20px 20px 0 20px;
}

.email-info label{
    color: #395870;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.email-info input {
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 100%;
}

.email-action {
    background: #f0f0f2;
    border-top: 1px solid #c6c7cc;
    padding: 20px;
}
.email-action .btn {
    background: linear-gradient(#49708f, #293f50);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
}

.form-errors li{
    color: red;
    text-align: center;
}

#user-info{
    text-align: center;
}