{% extends "base.html" %}

{% block title %} Admin_Projects {% endblock %}

{% block changable %}
    <li class="menu-item"> <a href="{% url 'accounts:profile' %}"> Profile </a> </li>
    <li class="menu-item"> <a href="{% url 'projects:user_dashboard' %}"> Projects </a> </li>
    <li class="menu-item"> <a href="{% url 'projects:admin_projects' %}"> Admin </a> </li>
    <li class="menu-item"> <a href="{% url 'accounts:logout' %}"> Logout </a> </li>
{% endblock %}

{% block main %}

    <main>

        <p> Hi {{ user.first_name }}, Your are admin to the below Project(s), Click on the projects to perform administrative activities</p>

        {% for pr in admin_projects %}

            <li> <a href = "{{ pr.project_name }} "> {{ pr.project_name }}</a> </li>

        {% endfor %}

    </main>

{% endblock %}
