{% extends "projects/project_admin.html" %}

{% block title %} Project {% endblock %}

{% block main-content %}

    <p> Hi {{ user.first_name }}, You are in the admin page of the project {{ project_name }} </p>

    <ul>
        <li class="main-menu-item"> <a href="{% url 'projects:admin_projects_info' project_name %}"> ProjectInfo</a> </li>
        <li class="main-menu-item"> <a href="{% url 'projects:list_project_members' project_name %}"> Members</a> </li>
        <li class="main-menu-item"> <a href="{% url 'metadata:add_project_metadata' %}"> ProjectMetadata</a> </li>
        {#         Add other links later as per requirement#}
    </ul>

{% block info %}

{% endblock %}

{% block Metadata %}

{% endblock %}

{% block Members %}

{% endblock %}

{% endblock %}

