{% extends "base.html" %}

{% block title %} Projects Dashboard {% endblock %}

{% block changable %}
    <li class="menu-item"> <a href="{% url 'accounts:profile' %}"> Profile </a> </li>
    <li class="menu-item"> <a href="{% url 'accounts:logout' %}"> Logout </a> </li>
{% endblock %}


{% block main %}

    <main>

        {% block main-menu %}

            <li class="main-menu-item"> <a href="{% url 'projects:user_dashboard' %}"> Projects </a> </li>
            <li class="main-menu-item"> <a href="{% url 'projects:user_dashboard' %}"> Metadata </a> </li>
            <li class="main-menu-item"> <a href="{% url 'projects:admin_projects' %}"> Admin </a> </li>
            <li class="main-menu-item"> <a href="{% url 'projects:user_mgmt' %}"> User Management </a> </li>

            {% block main-menu-future-add %}

            {% endblock %}

        {% endblock %}

        {% block main-content %}

            {% for pr in admin_projects %}

                <li class="project-menu-item">
                    {# Try to Reference the url by name: Below is an example of bad code practice #}
                    <a href = "{{ pr.project_name }}"> {{ pr.project_name }} </a>
                </li>

            {% endfor %}

            {% for pr in member_projects %}

                <li class="project-menu-item">
                    <a href = "{{ pr.project }}"> {{ pr.project }} </a>
                </li>

            {% endfor %}

        {% endblock %}

    </main>

{% endblock %}






