{% extends "projects/project_admin_page.html" %}

{% block title %} Project_Activity {% endblock %}


{% block project_activity %}

    <p>Below is the table where the project admin finds information about deposit sessions of the project. </p>

    <p> Open Deposit Sessions </p>

    <table style="width: auto">
        {#Column Headings#}
        <tr>
            <th>Project</th>
            <th>Deposit Name</th>
            <th>Created On</th>
            <th>Status</th>
            <th>User</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>

    {% for project in pr_activity %}

        {% if project.status == 'OPEN' %}

            <tr>
                <td>  {{ project.project }}      </td>
                <td>  {{ project.deposit_name }} </td>
                <td>  {{ project.created_on }}  </td>
                <td>  {{ project.get_status_display }}  </td>
                <td>  {{ project.user }}        </td>
                <td>  {{ project.user.email }}        </td>
            </tr>

        {% endif %}

    {% endfor %}

    </table>

    <p> Closed Deposit Sessions </p>

    <table style="width: auto">
        {#Column Headings#}
        <tr>
            <th>Project</th>
            <th>Deposit Name</th>
            <th>Created On</th>
            <th>Closed On</th>
            <th>Status</th>
            <th>User</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>

    {% for project in pr_activity %}

        {% if project.status == 'CLOSED' %}

            <tr>
                <td>  {{ project.project }}      </td>
                <td>  {{ project.deposit_name }} </td>
                <td>  {{ project.created_on }}  </td>
                <td>  {{ project.closed_on }}  </td>
                <td>  {{ project.get_status_display }}  </td>
                <td>  {{ project.user }}        </td>
                <td>  {{ project.user.email }}        </td>
            </tr>

        {% endif %}

    {% endfor %}

    </table>

{% endblock %}
