{% extends "base.html" %}

{% block title %} Projects Dashboard {% endblock %}

{% block changable %}
    <li class="menu-item"> <a href="{% url 'accounts:profile' %}"> Profile </a> </li>
    <li class="menu-item"> <a href="{% url 'accounts:logout' %}"> Logout </a> </li>
{% endblock %}


{% block main %}

    <main>

        {% block main-menu %}

            <li class="main-menu-item"> <a href="{% url 'projects:user_dashboard' %}"> Projects </a> </li>
            <li class="main-menu-item"> <a href="{% url 'projects:admin_projects' %}"> Admin </a> </li>
            <li class="main-menu-item"> <a href="{% url 'projects:user_mgmt' %}"> User Management </a> </li>

            {% block main-menu-future-add %}

            {% endblock %}

        {% endblock %}

        {% block main-content %}

            <p> Hi {{ user.first_name }}, Your projects will be displayed shortly... :)</p>

        {% endblock %}

    </main>

{% endblock %}






