{% extends "base.html" %}

{% block title %} Projects Dashboard {% endblock %}

{% block changable %}
    <li class="menu-item"> <a href="{% url 'accounts:profile' %}"> Profile </a> </li>
    <li class="menu-item"> <a href="{% url 'projects:project_dashboard' %}"> Projects </a> </li>
    <li class="menu-item"> <a href="{% url 'accounts:logout' %}"> Logout </a> </li>
{% endblock %}

{% block main %}

    <main>

    <p> Your projects will be displayed shortly... :)</p>

    </main>

{% endblock %}






