{% extends "base.html" %}

{% block title %} Projects Dashboard {% endblock %}

{% block changable %}
    <li class="menu-item"> <a href="{% url 'accounts:profile' %}"> Profile </a> </li>
    <li class="menu-item"> <a href="{% url 'accounts:logout' %}"> Logout </a> </li>
{% endblock %}


{% block main %}

    <main>

        {% block main-menu %}

            <li class="main-menu-item"> <a href="{% url 'projects:user_dashboard' %}"> Projects </a> </li>
            <li class="main-menu-item"> <a href="{% url 'projects:admin_projects' %}"> Admin </a> </li>
            <li class="main-menu-item"> <a href="{% url 'projects:user_mgmt' %}"> User Management </a> </li>

            {% block main-menu-future-add %}

            {% endblock %}

        {% endblock %}

        {% block main-content %}

            {% block sub-menu-future-add %}

            {% endblock %}

            {% for pr in admin_projects %}

                <li class="project-menu-item">
{#                Admin projects comes from Projects table #}
                    <a href = "{% url 'projects:projects_info' pr.project_name %}"> {{ pr.project_name }} </a>
                </li>

            {% endfor %}

        {% endblock %}

    </main>

{% endblock %}






